*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 40px;
    margin: 0;
    background-color: aquamarine;
    border: 2px solid red;
    border-radius: 5px;

}
#shape{
    width: 20vwpx;
    height: 20vhpx;
    background-color: aquamarine;
    cursor: pointer;
    position: absolute;
}